h1 {
    background: red;
    color: blue;
    border-style: double;
    border-width: 60px;
    border-color: yellow orange;
    border-radius: 10px;
    text-align: center;

}
.paragraph-1 {
    background: blue;
    color: yellow;
    font-size: 20px;
    border-style: double;
    border-width: 60px;
    border-color: yellow orange;
    border-radius: 10px;
    text-align: center;

}
.paragraph-2 {
    background: black;
    color: white;
    font-size: 20px;
    border-style: double;
    border-width: 60px;
    border-color: lightgray gray;
    border-radius: 10px;
    text-align: center;
    margin-top:60px;
    margin-bottom:60px;
    padding:10px;
}
.paragraph-3 {
    font-weight: bold;
    font-size: 32px;
    font-family: arial;

}
.kotik {
    width: 100px;
    height: 100px;
}
.paragraph-4 {
    align: center;
    font-size: 24px;
    text-shadow: green 2px 3px 4px;

}